*{padding: 0;
margin: 0;}

body{
    display: flex;
    justify-content: center;
}

.contenedor{
    background: rgb(143,3,237);
    background: linear-gradient(210deg, rgba(143,3,237,1) 0%, rgba(221,206,223,0.3168103448275862) 30%, rgba(255,255,255,1) 43%, rgba(238,238,193,1) 66%, rgba(57,42,22,1) 100%);
    width: 100%;
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.pantallas{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63, 94, 251, 0.781) 0%, rgba(229,226,237,1) 29%, rgba(142, 76, 95, 0.476) 55%, rgb(77, 12, 25) 100%);
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 30%;
    text-align: center;
    box-shadow: 0 0 40px 20px white,
    0 0 80px 10px cyan;
   border: 2px solid black;
   margin-bottom: 2%;
   
}
.pantallas p{
    font-size: 30px;
    padding-bottom: 50px;
}
#primerpantalla{
    color: green;
}
#resultadoNegativo{
    color: red;
}
input{
    text-align: center;
    height: 70%;
    font-size: 25px;
     background-color: rgba(255, 255, 255, 0.072);
    
}
.ventana-padre{
    width: 100%;
    height:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px ;
}
.ventana{
    background-color: green;
    width: 45%;
    height: 15%;
    text-align: center;
    display: none;
    position: absolute;

}
.ventana p{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
   
}
.controles{
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
 
}
.controles p{
    font-size: 30px;
}
.botonesFinal{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
 
}
button{
    width: 25%;
    border-radius: 7px;
}


#btncp{
    font-size: 20px;
}
.ultimoBoton{
   height: 5%;
   width: 15%;

    
}
.tutorial{
    position: absolute;
    background-color: rgb(89, 88, 88);
    width: 60%;
    height: 80%;
    border-radius: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin-top: 2%;
   

}

.botonClose{
    width: 20%;
    height: 6%;
    
    
}
.botonClose:hover{
    background-color: black;
    color: #fff;
}
.tutorial p{
    color: #fff;
    width: 80%;
    height: 80%;
    font-family: monospace;
    text-align: center;
    
   
}

.contenedor-1{
    position: relative;
    background-color: red;
}
.contenedor-2{
    margin-left: 10px;
    background-color: green;
    width: 6%;
    position: relative;
}

.papelito{
    background-color: #fff;
    width: 3%;
    height: 8px;
    left: 15px;
    position: absolute;
    animation: lluvia 1.5s infinite;
    background-color: rgba(10, 221, 10, 0.5);
    
}

.papelito:nth-child(2){
    left: 20%;
    background-color: rgba(255, 255, 0, 0.5); 
}

.papelito:nth-child(3){
    left: 35%;
    background-color: rgba(255, 0, 0, 0.5);
   
}
.papelito:nth-child(4){
    left: 55%;
    background-color: rgba(0, 255, 255, 0.5);
   
}
.papelito:nth-child(5){
    left: 90%;
    background-color: rgba(0, 0, 0, 0.5);
}
.papelito:nth-child(6){
    left: 70%;
}





@keyframes lluvia{
    0%{
    transform: rotateY(0) translateY(0) rotateX(150deg) rotateZ(150deg) ;
   
    
    }
    50%{
        transform: rotateY(750deg) translateY(190px)  rotateX(1500deg);
       background-color: transparent;
    }
    
    100%{
        transform: rotateY(300deg) translateY(0);
        background-color: transparent;
    }
   
}
#reiniciar{
    animation: cambiarBorde 1s infinite;
}
@keyframes cambiarBorde{
    0%{
        border: 3px solid red;
       
    }
    50%{
        border: 3px solid rgb(2, 2, 24);
        
    }
    100%{
        border: 3px solid red;
    }
}


@media (max-width: 720px){
   
    .contenedor{
        justify-content: start;
        height: 710px;
       
    }
    .pantallas{
        margin-top:0;
        width: 88%
        
       
    }
    .pantallas p{
        font-size: 22px;
       
    }
    input{
        font-size: 16px;
    }
    #primerpantalla{
        font-size: 20px;
    }
    .controles{
       top: 80px;
    }
    button{
       width: 90%;
       height: 100%;

       margin: 2%;
     
    }
    .ventana{
        padding: 2%;
        height: 10%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .ventana p{
        font-size: 22px;
    }
  
    .ultimoBoton{
        width: 40%;
        margin-bottom: 2%;
       
    

    }
    .tutorial{
        
        height: 60%;
      
    }
    .tutorial p{
        width: 100%;
        height: 60%;
        text-align: center;
        font-size: 10px;
    }
    .papelito{
        width: 7%;
        height: 10px;
    }
}

